<sb-layout-dashboard>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false">

    </sb-dashboard-head>

    
    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">stockName</th>
                <th scope="col">Quantity</th>
                <th scope="col">Minimum quantity</th>
                <th scope="col">des</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
         <tbody>
            <tr >
                <td>{{stock.stockName}}</td>
                <td>{{stock.qte}}</td>
                <td>{{stock.minQte}}</td>
                <td>{{stock.description}}</td>
                
             <td> <button type="button" name="update" (click)="update()" class="btn btn-dark">Update</button></td>
                <td><button type="submit" class="btn btn-danger" [routerLink]="['/stock/all']"
                        (click)="delete(stock)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <p-rating [(ngModel)]="val"></p-rating>
<p-rating></p-rating> -->

 

   

    <div *ngIf="updateEtat">
        <!--     <app-update-rayon [rayon]="rayon"></app-update-rayon> aaaaa
        -->
        <sb-updatestock [stock]="stock"></sb-updatestock>
    </div>

</sb-layout-dashboard>

