<sb-layout-dashboard>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <sb-dashboard-head title="Project" [hideBreadcrumbs]="false"> </sb-dashboard-head>

    <div>
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1 class="m-0" (click)="addButtonClicked()">Add a Project ?</h1>
            </div>
            
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div *ngIf="addClicked">
        <sb-add-project (project)="add($event)"></sb-add-project>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projects">
                <th scope="row">{{ p.id }}</th>
                <td>
                    {{ p.name }}
                </td>
                <td>{{ p.descriptionProject }}</td>
                <td>{{ p.status }}</td>
                <td>
                    <button
                        type="button"
                        class="btn btn-sm btn-primary product-btn"
                        (click)="navigateToProject(p)"
                    >
                        View Details
                    </button>
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary product-btn"
                        (click)="delete(p)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div> -->
</sb-layout-dashboard>
