<sb-layout-dashboard>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false">

    </sb-dashboard-head>

    <div>
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1 class="m-0" (click)="addButtonClicked()">Ajouter un stock </h1>
            </div><!-- /.col -->
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">

                    </a></li>
                <li class="breadcrumb-item active"></li>
            </ol>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  <div *ngIf="addClicked">
         <sb-addstock (stock)="add($event)"></sb-addstock>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">stockName</th>
                <th scope="col">Quantity</th>
                <th scope="col">Minimum quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
         <tbody>
            <tr *ngFor="let s of stocks">
                <td>{{s.stockName}}</td>
                <td>{{s.qte}}</td>
                <td>{{s.minQte}}</td>
                
               <td>
                <button type="button" class="btn btn-md btn-primary product-btn" >View
                        Details
                </button>
                <button type="button" class="btn btn-md btn-warning product-btn" (click)="update()" >Edit</button>
                    <button type="button" class="btn btn-md btn-danger product-btn"
                        (click)="delete(s)">Delete</button>
                </td>
            </tr>
        </tbody>
       
    </table>


    <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div> -->

</sb-layout-dashboard>
