
<sb-layout-dashboard>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false">

    </sb-dashboard-head>

    <div>
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1 class="m-0" (click)="addButtonClicked()">Add a Lead/Client ?</h1>
            </div><!-- /.col -->
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">

                    </a></li>
                <li class="breadcrumb-item active"></li>
            </ol>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <div *ngIf="addClicked">
        <sb-add-person (person)="add($event)"></sb-add-person>
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Source</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persons">
            <th scope="row">{{ p.id }}</th>
            <td>
                {{ p.name }}
            </td>
            <td>{{ p.last_name }}</td>
            <td>{{ p.birth_date }}</td>
            <td>{{ p.source }}</td>
            <td>{{ p.role }}</td>
            <td><button type="button" class="btn btn-sm btn-primary product-btn" (click)="navigateToPerson(p)">View Details
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary product-btn" (click)="delete(p)">Delete</button></td>
        </tr>
    </tbody>
</table>


<!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div> -->

</sb-layout-dashboard>
