<style>
    .box {
        display: flex;
        flex-direction: row-reverse;
    }
</style>
<div class="container">
    <div *ngIf="!submitted">
        <h1>Update Project {{ project.name }}!</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="libelleRayon">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="project.name" />
            </div>
            <div class="form-group">
                <label for="codeRayon">Description</label>
                <input
                    type="text"
                    class="form-control"
                    name="descriptionProject"
                    [(ngModel)]="project.descriptionProject"
                />
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" [(ngModel)]="project.status">
                    <option value="true">Active</option>
                    <option value="false">Stoppé</option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="">Submit</button>
        </form>
    </div>
</div>
